/*copyright https://github.com/ShahriarShafin
19-Oct-2020*/

/*--------------- POP UP ---------------  */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0, 0, 0, 0.658); 
  font: normal 14px/1.618em "Roboto", sans-serif;
}
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid rgb(114, 212, 1);
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #FF6347;
  text-decoration: none;
  cursor: pointer;
}
.modal-header {
  text-align: center;
  padding: 2px 10px;
  background-color: #5cb85c;
  color: white;
}
.modal-body {
  padding: 2px 5px;
}
.modal-body h3{
  text-align:center;
}
.modal-footer {
  padding: 2px;
  background-color: #5cb85c;
}
/*--------------- POP UP ---------------*/

/*--------------- Column ---------------*/
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;
  background-color:#5cb85c44;
}
.separator {
  border-right: 2px dashed green;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
  .separator {
    border-bottom: 2px dashed green; 
    border-right: none;
    }
}

.logo{
  width: 100px;
  height: 100px;
  display: block;
  margin-left: auto; 
  margin-right: auto;
}
.dev{
  color: #FF6347;
  text-align: center;
}

/*--------------- Social icons ---------------*/
.social-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}
.social-buttons__button {
  margin: 10px 5px 0;
}
.social-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  width: 40px;
  height: 40px;
  text-decoration: none;
}
.social-button__inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border-radius: 100%;
  background: #fff;
  text-align: center;
}
.social-button i,
.social-button svg {
  position: relative;
  z-index: 1;
  transition: 0.3s;
}
.social-button i {
  font-size: 28px;
}
.social-button svg {
  height: 40%;
  width: 40%;
}
.social-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  border-radius: 100%;
  transition: 0.3s;
}
.social-button:focus, .social-button:hover {
  color: #fff;
}
.social-button:focus::after, .social-button:hover::after {
  width: 100%;
  height: 100%;
  margin-left: -50%;
}
.social-button--mail {
  color: #0072c6;
}
.social-button--mail::after {
  background: #0072c6;
}
.social-button--facebook {
  color: #3b5999;
}
.social-button--facebook::after {
  background: #3b5999;
}
.social-button--linkedin {
  color: #0077b5;
}
.social-button--linkedin::after {
  background: #0077b5;
}
.social-button--github {
  color: #6e5494;
}
.social-button--github::after {
  background: #6e5494;
}
.social-button--codepen {
  color: #212121;
}
.social-button--codepen::after {
  background: #212121;
}
.social-button--steam {
  color: #7da10e;
}
.social-button--steam::after {
  background: #7da10e;
}
.social-button--snapchat {
  color: #eec900;
}
.social-button--snapchat::after {
  background: #eec900;
}
.social-button--twitter {
  color: #55acee;
}
.social-button--twitter::after {
  background: #55acee;
}
.social-button--instagram {
  color: #e4405f;
}
.social-button--instagram::after {
  background: #e4405f;
}
.social-button--npmjs {
  color: #c12127;
}
.social-button--npmjs::after {
  background: #c12127;
}
/*--------------- Social icons ---------------*/

ul {
  margin: 19px;
  padding: 0;
}

/* ......................main-body.......................  */
body {
    margin: 0 0;
    padding: 0 0;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #1f1f29;
    background-image: url("../assets/Camerror.gif");
    background-repeat: no-repeat;
    background-size: cover;
    /*use these 2 line for full size stream. But ratio will be compressed.*/
    background-size: 100% 100%;
    background-attachment: fixed;
    /*---------------------------------------*/
  }
  
  /* input form  */
  form {
    color: #fff;
    font-family: "Roboto Mono", monospace;
    margin-left: 5px;
  }
  
  /* input box */
  input[type="url"],
  textarea {
    background-color: #07ffea1f;
    color: #ffffff;
    padding: 7px 3px;
    margin-top: 9px;
    border: 2px solid rgb(0, 204, 255);
    border-radius: 4px;
    width: 20%;
    max-width:165px ;
    font-size: 13px;
  }
  
  /* focus  */
  input:focus {
    background-color: rgba(8, 231, 27, 0.534);
  }
  
  /* placeholder color */
  input::placeholder {
    color: rgba(255, 255, 255, 0.575);
  }
  
  /* input autocomplete styles */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-text-fill-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0 0 0px 1000px #07ffea1f inset;
    transition: background-color 5000s ease-in-out 0s;
  }
  
  /* connect button */
  #connectBtn{
    background-color:#004263da;
    border: 2px solid rgb(0, 204, 255);
    color: rgb(253, 253, 253);
    margin-left:70px;
    width: 20%;
    max-width:165px ;
    padding: 7px 3px;
    text-align: center;
    font-size: 13px;
    border-radius: 5px;
    
  }
  
  /* HIDDEN BOX */
  #box {
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -70px;
    width: 110px;
    height: 110px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* left-right Button Table  */
  .table {
    position: absolute;
    top: 25%;
    border-collapse: collapse;
    width: 100%;
  }
  
  /* left-right Button image  */
  .sidebutton {
    opacity: 0.2;
    width: 20%;
    height: auto;
  }
  
  /* left-right(180deg) --> right */
  #right {
    transform: rotate(180deg);
  }