/*copyright https://github.com/ShahriarShafin
19-Oct-2020*/

body {
  margin: 0 0;
  padding: 0 0;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #1f1f29;
  background-image: url("../assets/Camerror.gif");
  background-repeat: no-repeat;
  background-size: cover;
  /*use these 2 line for full size stream. But ratio will be compressed.*/
  background-size: 100% 100%;
  background-attachment: fixed;
  /*---------------------------------------*/
}

/* input form  */
form {
  color: #fff;
  font-family: "Roboto Mono", monospace;
  margin-left: 5px;
}

/* input box */
input[type="url"],
textarea {
  background-color: #07ffea1f;
  color: #ffffff;
  padding: 7px 3px;
  margin-top: 9px;
  border: 2px solid rgb(0, 204, 255);
  border-radius: 4px;
  width: 20%;
  max-width:165px ;
  font-size: 13px;
}

/* focus  */
input:focus {
  background-color: rgba(8, 231, 27, 0.534);
}

/* placeholder color */
input::placeholder {
  color: rgba(255, 255, 255, 0.575);
}

/* input autocomplete styles */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0 0 0px 1000px #07ffea1f inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* connect button */
#connectBtn{
  background-color:#004263da;
  border: 2px solid rgb(0, 204, 255);
  color: rgb(253, 253, 253);
  margin-left:70px;
  width: 20%;
  max-width:165px ;
  padding: 7px 3px;
  text-align: center;
  font-size: 13px;
  border-radius: 5px;
  
}


/* HIDDEN BOX */
#box {
  position: absolute;
  top: 10%;
  left: 50%;
  margin-left: -70px;
  width: 110px;
  height: 110px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* left-right Button Table  */
.table {
  position: absolute;
  top: 25%;
  border-collapse: collapse;
  width: 100%;
}

/* left-right Button image  */
.sidebutton {
  opacity: 0.2;
  width: 20%;
  height: auto;
}

/* left-right(180deg) --> right */
#right {
  transform: rotate(180deg);
}
/* ---------------------------------SpeedMeter----------------------------- */

@import url(https://fonts.googleapis.com/css?family=Coda:400|Roboto+Mono:400,400italic);
* {
  box-sizing: border-box;
}

.dashboard {
  font-family: "Coda", cursive;
  display: inline-block;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.meter {
  display: inline-block;
  position: relative;
  width: 10rem;
  height: 10rem;
  background-color: rgba(
    255,
    255,
    255,
    0
  ); /* opacity-------------------------------------------------------------------*/
  border-radius: 50%;
  margin: 0 0.7rem 1rem; /* down gap......1.6.............................................................*/
  box-shadow: inset 0 3px 6px rgb(255, 255, 255),
    inset 0 3px 6px rgba(0, 0, 0, 0.23);
}
.meter:before {
  content: "";
  display: block;
  position: absolute;
  width: 107%;
  left: -3.5%;
  top: -3.5%;
  bottom: -3.5%;
  border-radius: 50%;
  background: rgba(
    0,
    38,
    255,
    0.144
  ); /* opacity---------------------------------------------------------------- */
  z-index: -1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.644), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.label {
  position: absolute;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  text-align: center;
  color: rgb(255, 255, 255);
}
.label.label-value {
  color: #eee;
}
.label span {
  text-transform: uppercase;
}

.label-unit {
  top: 82.5%;
}
.label-unit div {
  font-size: 1rem;
}
.meter--big-label .label-unit div {
  font-size: 0rem;
}

.label-value {
  top: 50%;
  line-height: 1.25;
}
.label-value div,
.label-value span {
  font-size: 0rem;
}
.meter--big-label .label-value div,
.meter--big-label .label-value span {
  font-size: 0.75rem;
}
.label-value div {
  font-family: "Roboto Mono", monospace;
  font-style: italic;
}
.meter--big-label .label-value span {
  font-size: 0.55rem;
}
.label-value span {
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
}

.needle {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 3px;
  height: 65px;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  background-color: #e30;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.needle:before,
.needle:after {
  display: block;
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
}
.needle:before {
  left: -3px;
  border-width: 0 3px 65px 0;
  border-color: transparent #ff5122 transparent transparent;
}
.needle:after {
  right: -3px;
  border-width: 65px 3px 0 0;
  border-color: #d52e00 transparent transparent transparent;
}

.needle-axle {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 15%;
  height: 15%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  border-radius: 50%;
  background-color: #333;
  color: #eee;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
}
.needle-axle:hover {
  background-color: black;
}
.meter--big-label .needle-axle {
  width: 25.5%;
  height: 25.5%;
}

.grad {
  position: absolute;
  display: inline-block;
  font-size: 0.6rem;
  line-height: 1;
  color: rgb(0, 238, 255);
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  font-weight: bold;
}
.grad.redzone {
  color: #e30;
}
.meter--rpm .grad {
  font-size: 1rem;
}

.grad-tick.redzone,
.grad-tick--half.redzone,
.grad-tick--quarter.redzone {
  background-color: #e30;
}

.grad-tick {
  position: absolute;
  display: block;
  width: 4px;
  height: 0.5em;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  background-color: rgb(255, 255, 255);
}

.grad-tick--half {
  width: 2px;
  height: 0.5em;
}

.grad-tick--quarter {
  width: 2px;
  height: 0.25em;
}

.meter--gear {
  width: 3rem;
  height: 3rem;
  margin: 0.6rem;
  margin-left: -2rem;
  margin-right: -2rem;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16),
    inset 0 3px 6px rgba(0, 0, 0, 0.23);
}
.meter--gear:before {
  width: 120%;
  height: 120%;
  left: -10%;
  top: -10%;
  bottom: -10%;
}
.meter--gear div {
  font-size: 2.5rem;
  text-align: center;
  line-height: 3rem;
  font-family: "Roboto Mono", monospace;
  font-style: italic;
  font-weight: bold;
  color: rgb(255, 255, 255);
}
.meter--gear div.redzone {
  color: #e30;
}

.btn-volume {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  width: 2.5rem;
  height: 2.53rem;
  line-height: 2rem;
  border-radius: 50%;
  background: transparent;
  color: gray;
  border: 4px solid;
  font-size: 1.5rem;
  font-weight: bold;
}
.btn-volume.active {
  color: tomato;
  border-color: tomato;
}
